# Flutter/Dart
.dart_tool/
.packages
.pub/
pubspec.lock

# Build outputs
build/
/.dart_tool/
*.apk
*.aab
*.app
*.dmg

# iOS
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
Pods/
Runner.xcworkspace/

# Android
.gradle/
local.properties
*.iml
*.keystore

# Plugin & intermediate files
*.jar
*.dex
*.bin
*.aar

# VSCode / IDE
.vscode/
.idea/

# macOS
*.DS_Store

# Logs
*.log
